<div class="modal hide fade signup-modal" tabindex="-1">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal">×</button>
    <h2>Sign Up!</h2>
  </div>
  <%= form_for @user, :html => { "data-type" => "json"}, :remote=>true do |f|%>
    <div class="modal-body">
      <%= f.text_field :username, :placeholder=>"Username" %><br />
      <%= f.password_field :password, :placeholder=>"Password" %><br />
      <%#= @publisher_html.try(:html_safe)  %>
    </div>
    <div class="modal-footer">
      <div class = "form-buttons">
        <button type="submit" class="btn btn-primary">Create Account</button>
        <button class="btn" data-dismiss="modal">Close</button>
        <!-- <button class="btn" data-dismiss="modal">Add Another</button> -->
      </div>
      <div class = "alert-container-success">
        <div class = "alert alert-success">
          <a class="close" data-dismiss="alert" href="#">&times;</a>
          Your account was successfully created. Your bookmarks will be <%= link_to 'here', @user %>.
        </div>
      </div>
      <div class = "alert-container-error">
        <div class = "alert alert-error alert-block">
          <a class="close" data-dismiss="alert" href="#">&times;</a>
          You had the following errors:
          <!-- errors -->
        </div>
      </div>
    </div>
  <% end %>
</div>
